.pege{
  font-family:'游明朝';
  color: black;
}

ul{
  list-style: none;
}

*{
  box-sizing: border-box;
}

.header-wreaaper{
  margin: 0 auto;
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 1000;
  text-align: center;
  margin-top: -8px;
  padding-top: 42px;
}

.rogo-wreaaper{
  text-align: center;
  cursor: pointer;
  font-size: 40px;
  padding-top: 20px;
  transition: all 1s;
}

.rogo-wreaaper:hover{
  color:#deb887;
}

.nav-wreaaper{
  text-align: center;
  padding-top: 71px;
  border-bottom: 1px solid black;
  margin: 0 500px 0 500px;
  width: 900px;
  background-color: white;
  position: fixed;
  z-index: 100;
}

.nav-map{
font-weight: bold;
margin-left: 50%;
margin-top: 50px;
}

.nav-map li{
  float: left;
}

.clear{
  clear: left;
}

.nav01{
   position: relative;
   top: 0;
   right: 350px;
 }

 .nav01:hover{
   color: #deb887;
 }

 .nav02{
   position: relative;
   top:0;
   right: 250px;
 }

 .nav02:hover{
   color: #deb887;
 }

 .nav03{
   position: relative;
   top:0;
   right: 150px;
 }

 .nav03:hover{
   color: #deb887;
 }

 .nav-map ul{
   margin:0 100px 5px 100px;
   cursor: pointer;
 }

 /*ここまでがヘッダー*/

/*次が画像エリア*/

.image-wreaaper{
  margin:0 500px 0 500px;
  padding-top: 152px;
  height: 828px;
  width: 900px;
  position: absolute;
  top:8px;
  right: 12px;
}

.main-btn{
  position: absolute;
  top:153px;
  left: 17px;
  height: 675px;
}

.main-slide{
  margin: 0;
  padding: 0;
  height: 675px;
  position: relative;
}

.main-image p{
  font-family: 'Batang';
  margin: 0;
}

/*ここまでが画像エリア*/

/*次がトップ*/

.wreaaper{
  position: absolute;
  top:863px;
  width: 902px;
  height: 180%;
  margin: 20px 500px 0 500px;
}

.main-top{
  text-align: center;
  border-top: 3px solid black;
  width: 900px;
}

.titoru-top{
  font-size: 19px;
  letter-spacing: 3px;
  border-bottom: 1px dotted black;
  line-height: 35px;
  background-color: #ffffe0;
  font-family: "MS Serif";
}

.titoru-top h2{
  margin: 0;
}

.top{
  height: 350px;
}

/*ここまでがトップエリア*/

/*次が真ん中（メニュー等）*/

.menew-middle{
  text-align:center;
  font-size: 19px;
  border-top: 3px solid black;
  width: 900px;
  position: relative;
  background-color: #ffffe0;
}

.titoru-middle{
  border-bottom: 1px dotted black;
  line-height: 40px;
  font-family: 'MS Serif';
  margin-bottom: 30px;
}

.titoru-middle h2{
  margin: 0
}

.middle ul{
  list-style-type: disc;
  line-height: 46px;
  margin: 0;
}

.me1{
  height: 458px;
  width: 450px;
  border-right: 1px dashed black;
  margin-top: 36px;
}

.me2{
  position: absolute;
  top: 71px;
  left: 450px;
  width: 449px;
}

/*ここまでが真ん中*/

/*次が最後の場所*/

.under-Column{
  text-align:left;
  margin-top: 35px;
  height: 350px;
  border:8px solid #dcdcdc;
  box-shadow:1px 1px black;
}

.under-taitoru{
  border-bottom: 1px dotted black;
}

.under-taitoru h2{
  margin: 0;
  line-height: 40px;
}

.under{

}

footer{
  position: relative;
  top: 135px;
  right: 540px;
  height: 245px;
  width: 1935px;
  background-color: #fafad2;
}

.footer-btn{

}
